@import url("/css/common.css");

.nav__attendance,
.nav__attendance-list,
.nav__application {
    text-decoration: none;
    padding: 5px 15px;
    font-size: clamp(18px, 1.65vw, 25px);
    font-size: inherit;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
    display: block;
}

.nav__attendance:hover,
.nav__attendance-list:hover,
.nav__application:hover {
    opacity: 0.6;
}
